{% extends 'musicplayer/basic.html' %}
{% block title %}Contact Us - MoodMix - Now Music in Your Hands{% endblock %}
{% block body %}
{% load static %}
 

<!-- here is the form -->
<div style="height:89.5vh">
<div class="container my-3" style="position:relative;top:50px;">

    <h2>Contact Us</h2>
    <hr>
    <form action="/musicplayer/contact" method="post">{% csrf_token %}

        <div class="row g-3">
            <div class="col">
                <label for="fname" class="form-label">First Name</label>
              <input name="fname" type="text" class="form-control mb-2" placeholder="First name" aria-label="First name" required="">
            </div>
            <div class="col">
                <label for="lname" class="form-label">Last Name</label>
              <input name="lname" type="text" class="form-control mb-2" placeholder="Last name" aria-label="Last name" required="">
            </div>
          </div>
          
            <div class="col-md-6">
              <label for="email"  class="form-label">Email</label>
              <input type="email" name="email" class="form-control mb-2" id="email" required="">
            </div>
            <div class="col-md-6">
              <label for="pno"  class="form-label">Phone Number</label>
              <input type="number" name="pno" class="form-control mb-2" id="pno" required="">
            </div>
            <div class="col-md-6">
                <label for="text"  class="form-label">Comment</label>
                <textarea class="form-control mb-2" placeholder="Leave a comment here" name="text" id="text" style="height: 100px" required=""></textarea>
                <!-- <label for="text">Comments</label> -->
              </div>
            
            <div class="col-12 my-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          
    </form>
</div>
</div>
{% endblock %}